{% load static %}
{% load cards_tag %}


{% user_cards request as cards %}
<div class="card mb-3 text-bg-light shadow-lg">
    {% for card in cards %}
        <div class="card-header">
            <h5 class="card-title">{{ card.product.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col p-0">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a href="{% url 'cards:change_product' %}">
                                <button type="button" class="btn btn-dark btn-sm decrement"
                                    data-cart-id="" data-cart-change-url="">-</button> </a>
                            </span>
                            <input type="text" class="form-control number" value="{{ card.quantity }}"
                                readonly>
                            <span class="input-group-btn">
                                <a href="{% url 'cards:add_product' %}"> <button type="button" class="btn btn-dark btn-sm increment"
                                    data-cart-id="" data-cart-change-url="">+</button></a>
                            </span>
                        </div>
                    </div>
                    <div class="col p-0">
                        <p>x {{ card.product.total_price  }} = </p>
                    </div>
                    <div class="col p-0"><strong>{{ card.products_price }} $</strong></div>
                    <div class="col p-0">
                        <a href="{% url 'cards:remove_product' %}" class="remove-from-cart" data-cart-id="">
                            <img class="mx-1" src="{% static 'deps/icons/trash3-fill.svg' %}"
                                alt="Catalog Icon" width="16" height="16">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>
<div class="card mb-3 shadow-lg">
    <div class="card-footer">
        <p class="float-left">Итого <strong> {{ cards.total_count }}</strong> товар(а) на сумму</p>
        <h4 class="float-left"><strong>{{ cards.final_price }} $</strong></h4>
    </div>
</div>